@page "/"
<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="row g-3">
            <div class="col-12 col-sm-6">

                <Select TValue="string" Items="Items" ShowSearch="true"  />
            </div>

        </div>

    </div>
</div>


@code {
    private IEnumerable<SelectedItem> Items { get; set; } = new[]
    {
        new SelectedItem ("", "Select"),
        new SelectedItem ("one", "one"),
        new SelectedItem ("two", "two") ,
        new SelectedItem ("three", "three") { Active = true },
        new SelectedItem ("four", "four") ,
        new SelectedItem ("five", "five") ,
        new SelectedItem ("six", "six") ,
    };  
}


